{template "content","head"}
<!--课程大纲-->
<div class="outline">
    <div class="outline-top">
        <h1>课程大纲，节节干货</h1>
        <p>只因专业，所以自信。精研细磨，紧贴社会，时时更新</p>
    </div>
    <div class="outline-font clearfix">
            {pc:content action="lists" catid="12" order="id DESC" num="5" page="$page"}
            {loop $data $key $val}
            <a href="{$val[url]}" class="model">
                <img src="{$val[thumb]}" alt=""/>
                <h1>{$val[title]}</h1>
                <p>含：ES6，TypeScript，Linux等</p>
            </a>
            {/loop}
            {/pc}
       <!-- <a class="model" href="javascript:;">
            <img src="{IMG_PATH}image/shouye/a.png" alt=""/>
            <h1>《javascript语言新发展》</h1>
            <p>含：ES6，TypeScript，Linux等</p>
        </a>
        <a class="model" href="javascript:;">
            <img src="{IMG_PATH}image/shouye/b.png" alt="" />
            <h1>《大话Nade72般变化》</h1>
            <p>含：ES6，TypeScript，Linux等</p>
        </a>
        <a class="model" href="javascript:;">
            <img src="{IMG_PATH}image/shouye/c.png" alt="" />
            <h1>《前端工程化那些事儿》</h1>
            <p>含：ES6，TypeScript，Linux等</p>
        </a>
        <a class="model" href="javascript:;">
            <img src="{IMG_PATH}image/shouye/d.png" alt="" />
            <h1>《性能优化与工程师》</h1>
            <p>含：ES6，TypeScript，Linux等</p>
        </a>
        <a class="model" href="javascript:;">
            <img src="{IMG_PATH}image/shouye/e.png" alt="" />
            <h1>《MV*框架大集合》</h1>
            <p>含：Veu2，React，Angular2等</p>
        </a>-->
    </div>
</div>
<!--持续学习流程-->
<div class="study">
    <img src="{IMG_PATH}image/shouye/study.png" alt=""/>
</div>
<!--导师团队-->
<div class="tutor">
    <div class="tutor-top">
        <h1>来看看谁带你学习</h1>
        <p>我们的讲师团队由三位主讲和一线名企大牛讲师团组成，主讲带你细致入微，名企讲师带你深入企业内部实战分享</p>
    </div>
    {pc:content action="lists" catid="11" order="id DESC" num="3" page="$page"}
    <div class="tutor-center">
        {loop $data $key $val}
        <div class="teacher">
            <img src="{if $val[thumb]}{thumb($val[thumb],220,170)}{else}{IMG_PATH}qk_img/noImg.jpg{/if}" alt=""/>
            <div class="teacher-ity">
                <span class="one"><a  href="{$val[url]}">{$val[title]}</a></span>&nbsp;
                <span class="two">乐学堂创始人</span>&nbsp;
                <p>{$val[description]}</p>
            </div>
        </div>
        {/loop}
    </div>
    {/pc}
</div>
<!-- 新闻中心-->
<div class="journalism">
    <h1>新闻中心</h1>
    <ul>
        {pc:content action="lists" catid="13" order="id DESC" num="10" page="$page"}
        {loop $data $key $val}
        <li><div class="elos">{$val[listorder]}</div><p class="elos-p"><a href="{$val[url]}">{$val[title]}</a></p></li>
        {/loop}
        {/pc}
    </ul>
</div>
<div class="clearfix"></div><!--清除浮动 清浮动还是没用好啊-->
<!--现场考察-->
<div class="site">
    <h1>现场考察</h1>
    <p>地址：河南省郑州市博学路与龙子湖交叉口河南经贸职业学院</p>
    <img src="{IMG_PATH}image/shouye/map.png" alt=""/>
</div>
{template "content","foot"}